body {
  background: #fff;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1196px;
  margin: auto;

  @media (max-width: 1250px) {
    max-width: 92%;
  }

  @media (max-width: 830px) {
    max-width: 89%;
  }
}

img {
  max-width: 100%;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  .container {
    padding-top: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    .nav-menu {
      background-image: url(../images/menu.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 32px;
      width: 32px;
      display: none;

      @media (max-width: 860px) {
        display: block;
        position: absolute;
        top: 35px;
        left: 20px;
      }
    }

    nav,
    nav li,
    button {
      display: inline-block;
    }

    nav ul {
      @media (max-width: 860px) {
        display: none;
      }
    }

    nav ul li {
      color: #000;
      font-size: 14px;
      font-weight: 700;
      margin-left: 40px;
    }

    button {
      margin-left: 40px;
      padding: 10px 20px;
      border-radius: 5px;
      background: #f84646;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

main {
  .title {
    background: url(../images/back-header.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 148px;

    h1 {
      max-width: 665px;
      color: #000;
      font-size: 64px;
      font-weight: 800;
      line-height: 82px;

      @media (max-width: 1024px) {
        font-size: 56px;
        line-height: 74px;
      }

      @media (max-width: 710px) {
        max-width: 335px;
        font-size: 42px;
        line-height: 58px;
      }
    }

    .title__text {
      margin-top: 20px;
      margin-bottom: 50px;
      max-width: 650px;
      color: #000;
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.2px;

      @media (max-width: 1024px) {
        font-size: 16px;
        line-height: 28px;
      }

      @media (max-width: 710px) {
        max-width: 335px;
        font-size: 12px;
        line-height: 23px;
      }
    }

    .title__form {
      max-width: 502px;
      padding: 6px 0 6px 32px;
      border-radius: 8px;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1024px) {
        max-width: 422px;
      }

      @media (max-width: 710px) {
        max-width: 335px;
      }

      input {
        width: 100%;
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.2px;

        @media (max-width: 710px) {
          font-size: 14px;
        }
      }

      input::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }

      input:focus {
        border: none;
        outline: none;
        align-self: none;
      }

      button {
        cursor: pointer;
        vertical-align: middle;
        width: 50%;
        height: 61px;
        border-radius: 8px;
        background: #f84646;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-right: 6px;

        @media (max-width: 710px) {
          font-size: 14px;
          line-height: normal;
        }
      }
    }
  }

  .main-info {
    .main-info__box {
      max-width: 1154px;
      margin: auto;
      padding-top: 120px;
      padding-bottom: 140px;

      h2 {
        color: #000;
        text-align: center;
        font-size: 36px;
        font-weight: 800;

        @media (max-width: 830px) {
          font-size: 24px;
        }
      }

      .main-info__txt {
        margin-top: 30px;
        margin-bottom: 91px;
        color: #000;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.2px;

        @media (max-width: 830px) {
          font-size: 12px;
          line-height: 22px;
        }
      }

      .main-info__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 91px;

        @media (max-width: 1250px) {
          justify-content: space-around;
          max-width: 764px;
          margin: auto;
        }

        @media (max-width: 830px) {
          max-width: 355px;
        }

        .main-info__card {
          width: 26%;
          text-align: center;

          @media (max-width: 1250px) {
            width: 40%;
          }

          @media (max-width: 830px) {
            width: 94%;
          }

          h3 {
            margin: 10px 0;
            color: #000;
            font-size: 24px;
            font-weight: 800;
          }

          p {
            color: #000;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }

  .test {
    background: #f84646;
    color: #fff;

    .container {

      .test__heading {
        padding-top: 68px;
        font-size: 18px;
        font-weight: 700;
        line-height: 31px;
      }

      .test__heading-txt{
        margin-top: 8px;
        margin-bottom: 64px;
      }

      .test__course {
        display: flex;
        justify-content: space-around;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
