$color-primary: #F8464A;
$color-text-title: #2e2e2e;
$color-text-body: #808080;
$color-text-gray-900: #18191f;
$color-text-gray-100: #f4f5f7;
$color-default-white: #fff;
$color-text-white: #fff;
$color-text-disable: #e6e6e6;

@mixin font-style($color, $size, $weight, $lhight: auto) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $lhight;
}

body {
  background: #fff;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1196px;
  margin: auto;

  @media (max-width: 1250px) {
    max-width: 92%;
  }

  @media (max-width: 830px) {
    max-width: 89%;
  }
}

img {
  max-width: 100%;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  .container {
    padding-top: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    .nav-menu {
      background-image: url(../images/menu.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 32px;
      width: 32px;
      display: none;

      @media (max-width: 860px) {
        display: block;
        position: absolute;
        top: 35px;
        left: 20px;
      }
    }

    nav,
    nav li,
    button {
      display: inline-block;
    }

    nav ul {
      @media (max-width: 860px) {
        display: none;
      }
    }

    nav ul li {
      color: #000;
      font-size: 14px;
      font-weight: 700;
      margin-left: 40px;
    }

    button {
      margin-left: 40px;
      padding: 10px 20px;
      border-radius: 5px;
      background: $color-primary;

      @include font-style(#fff, 14px, 700);
    }
  }
}

main {
  .title {
    background: url(../images/back-header.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 148px;

    @media (max-width: 710px) {
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 0)
        ),
        url(../images/back-header.png);
      background-position: 70%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    h1 {
      max-width: 665px;

      @include font-style(#000, 64px, 800, 82px);

      @media (max-width: 1024px) {
        font-size: 56px;
        line-height: 74px;
      }

      @media (max-width: 710px) {
        max-width: 333px;
        text-align: center;
        font-size: 41px;
        line-height: 58px;
      }
    }

    .title__text {
      margin-top: 20px;
      margin-bottom: 50px;
      max-width: 650px;
      letter-spacing: 0.2px;

      @include font-style(#000, 20px, 400, 36px);

      @media (max-width: 1024px) {
        font-size: 16px;
        line-height: 28px;
      }

      @media (max-width: 710px) {
        max-width: 335px;
        font-size: 12px;
        line-height: 23px;
        text-align: center;
      }
    }

    .title__form {
      max-width: 502px;
      padding: 6px 0 6px 32px;
      border-radius: 8px;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1024px) {
        max-width: 422px;
      }

      @media (max-width: 710px) {
        max-width: 335px;
      }

      input {
        width: 100%;
        letter-spacing: 0.2px;

        @include font-style(#000, 16px, 400, 36px);

        @media (max-width: 710px) {
          font-size: 14px;
        }
      }

      input::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }

      input:focus {
        border: none;
        outline: none;
        align-self: none;
      }

      button {
        cursor: pointer;
        vertical-align: middle;
        width: 50%;
        height: 61px;
        border-radius: 8px;
        background: $color-primary;
        letter-spacing: 0.2px;
        text-align: center;
        margin-right: 6px;

        @include font-style(#fff, 16px, 700, 36px);

        @media (max-width: 710px) {
          font-size: 14px;
          line-height: normal;
        }
      }
    }
  }

  .main-info {
    .main-info__box {
      max-width: 1154px;
      margin: auto;
      padding-top: 120px;
      padding-bottom: 140px;

      h2 {
        text-align: center;
        max-width: 428px;
        margin: auto;

        @include font-style(#000, 36px, 800);

        @media (max-width: 830px) {
          max-width: 286px;
          font-size: 24px;
        }
      }

      .main-info__txt {
        max-width: 994px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 91px;
        text-align: center;
        letter-spacing: 0.2px;

        @include font-style(#000, 24px, 400, 40px);

        @media (max-width: 1250px) {
          max-width: 852px;
        }

        @media (max-width: 830px) {
          max-width: 334px;
          font-size: 12px;
          line-height: 22px;
        }
      }

      .main-info__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 91px;

        @media (max-width: 1250px) {
          justify-content: space-around;
          max-width: 764px;
          margin: auto;
        }

        @media (max-width: 830px) {
          max-width: 355px;
        }

        .main-info__card {
          width: 26%;
          text-align: center;

          @media (max-width: 1250px) {
            width: 40%;
          }

          @media (max-width: 830px) {
            width: 94%;
          }

          h3 {
            margin: 10px 0;

            @include font-style(#000, 24px, 800);
          }

          p {
            letter-spacing: 0.2px;

            @include font-style(#000, 18px, 400, 28px);
          }
        }
      }
    }
  }

  .test {
    background: $color-primary;
    padding-top: 36px;
    padding-bottom: 76px;

    @media (max-width: 1250px) {
      padding-top: 36px;
      padding-bottom: 39px;
    }

    @media (max-width: 1050px) {
      padding-top: 50px;
      padding-bottom: 84px;
    }

    .container {
      h2 {
        max-width: 836px;
        margin: auto;
        text-align: center;

        @include font-style(#fff, 48px, 800, 64px);

        @media (max-width: 1050px) {
          max-width: 335px;
          font-size: 36px;
          line-height: 47px;
        }
      }

      .test__heading-txt {
        max-width: 836px;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 64px;
        text-align: center;

        @include font-style(#fff, 18px, 400, 32px);

        @media (max-width: 1250px) {
          margin-bottom: 55px;
        }

        @media (max-width: 1050px) {
          max-width: 190px;
          font-size: 14px;
          line-height: 32px;
        }
      }

      .test__course {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 1050px) {
          flex-direction: column;
          text-align: center;
          row-gap: 40px;
          margin: auto;
        }

        p {
          @include font-style(#fff, 18px, 700, 31px);

          @media (max-width: 1250px) {
            font-size: 14px;
            line-height: 22px;
          }
        }

        .test__course1 {
          max-width: 146px;

          @media (max-width: 1250px) {
            max-width: 129px;
          }
        }

        .test__course3 {
          max-width: 199px;

          @media (max-width: 1250px) {
            max-width: 176px;
          }
        }

        .test__course4 {
          max-width: 181px;

          @media (max-width: 1250px) {
            max-width: 160px;
          }
        }

        .test__course5 {
          max-width: 182px;

          @media (max-width: 1250px) {
            max-width: 141px;
          }
        }

        img {
          max-width: 32px;

          @media (max-width: 1250px) {
            max-width: 28px;
          }

          @media (max-width: 1050px) {
            max-width: 36px;
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .choice {
    .container {
      padding: 160px 0;

      @media (max-width: 900px) {
        padding-top: 90px;
        padding-bottom: 79px;
      }

      .choice__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 120px;

        @media (max-width: 900px) {
          row-gap: 60px;
        }

        .choice__card-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 85px;

          @media (max-width: 1010px) {
            flex-direction: column-reverse;
            row-gap: 30px;
          }

          @media (max-width: 550px) {
            max-width: 336px;
            margin: auto;
          }
        }

        .choice__card-buttom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 145px;

          @media (max-width: 1010px) {
            flex-direction: column;
            row-gap: 30px;
          }

          @media (max-width: 550px) {
            max-width: 336px;
            margin: auto;
          }
        }

        .choice__card-top1 {
          max-width: 608px;

          @media (max-width: 1010px) {
            margin: auto;
          }

          @media (max-width: 550px) {
            max-width: 100%;
          }
        }

        .choice__card-buttom2 {
          max-width: 548px;

          @media (max-width: 1010px) {
            margin: auto;
          }

          @media (max-width: 550px) {
            max-width: 100%;
          }
        }

        h2 {
          max-width: 608px;

          @include font-style($color-text-title, 64px, 700, 76px);

          @media (max-width: 1250px) {
            max-width: 424px;
            font-size: 58px;
            line-height: 60px;
          }

          @media (max-width: 1010px) {
            text-align: center;
          }

          @media (max-width: 550px) {
            max-width: 100%;
            font-size: 36px;
            line-height: 42px;
          }
        }

        p {
          max-width: 523px;
          margin-top: 40px;
          margin-bottom: 80px;

          @include font-style($color-text-body, 16px, 400, 32px);

          @media (max-width: 1250px) {
            max-width: 352px;
            font-size: 14px;
            line-height: 29px;
            margin-top: 20px;
            margin-bottom: 46px;
          }
          @media (max-width: 1010px) {
            margin: 20px auto 46px;
            text-align: center;
          }

          @media (max-width: 550px) {
            max-width: 100%;
            margin-bottom: 40px;
          }
        }

        button {
          width: 160px;
          padding: 12px;
          border-radius: 8px;
          background: $color-primary;
          text-align: center;

          @include font-style(#fff, 14px, 600, 24px);

          @media (max-width: 1250px) {
            width: 132px;
          }

          @media (max-width: 1010px) {
            width: 424px;
          }

          @media (max-width: 550px) {
            width: 100%;
          }
        }

        .choice__card-img1,
        .choice__card-img2 {
          max-width: 504px;

          @media (max-width: 1250px) {
            width: 424px;
          }

          @media (max-width: 550px) {
            max-width: 335px;
            margin: auto;
          }

          img {
            border-radius: 8px;
          }
        }
      }
    }
  }

  .logo {
    background: $color-text-gray-100;
    padding: 59px 0;

    @media (max-width: 630px) {
      padding: 40px 0;
    }

    .container {
      text-align: center;

      h2 {
        text-align: center;

        @include font-style($color-text-gray-900, 48px, 800, 64px);

        @media (max-width: 630px) {
          @include font-style(#000, 36px, 700, 42px);
        }
      }

      p {
        margin-top: 5px;
        margin-bottom: 48px;

        @include font-style($color-text-gray-900, 18px, 500, 32px);

        @media (max-width: 630px) {
          font-size: 14px;
          line-height: 32px;
          margin-top: 14px;
          margin-bottom: 40px;
        }
      }

      .logo__columns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        @media (max-width: 630px) {
          flex-direction: column;
        }

        a img {
          border-radius: 16px;
          background: $color-default-white;
          box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
        }

        .logo__col-1 {
          a img {
            padding: 15px 18px 14px;
          }

          @media (max-width: 1020px) {
            display: none;
          }

          @media (max-width: 630px) {
            display: block;
          }
        }

        .logo__col-2 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          row-gap: 24px;

          .logo__col-2-top {
            padding: 18px 24px 17px;
          }

          .logo__col-2-buttom {
            padding: 30px 23px 29px 24px;
          }
        }

        .logo__col-3 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          row-gap: 24px;

          .logo__col-3-top {
            padding: 15px 19px;
          }

          .logo__col-3-buttom {
            padding: 22px 2px;
          }
        }

        .logo__col-4 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          row-gap: 24px;

          @media (max-width: 630px) {
            display: none;
          }

          .logo__col-4-top {
            padding: 19px 26px 18px;
          }

          .logo__col-4-buttom {
            padding: 31px 36px;
          }
        }

        .logo__col-5 {
          a img {
            padding: 32px 33px 32px 34px;
          }

          @media (max-width: 1020px) {
            display: none;
          }
        }
      }
    }
  }

  .result {
    text-align: center;
    padding: 160px 0;

    @media (max-width: 730px) {
      padding: 90px 0 82px;
    }

    img {
      @media (max-width: 730px) {
        max-width: 90px;
      }
    }

    h2 {
      margin-top: 10px;

      @include font-style(#000, 48px, 800, 32px);

      @media (max-width: 730px) {
        font-size: 36px;
        line-height: 32px;
        margin-top: 20px;
      }
    }

    p {
      margin-top: 20px;
      margin-bottom: 30px;

      @include font-style(#000, 18px, 500, 32px);

      @media (max-width: 730px) {
        max-width: 335px;
        margin: auto;
        font-size: 14px;
        line-height: 25px;
        margin-top: 12px;
        margin-bottom: 20px;
      }
    }

    button {
      padding: 25px 40px;
      border-radius: 8px;
      background: $color-primary;

      @include font-style(#fff, 24px, 600, 20px);

      @media (max-width: 730px) {
        font-size: 16px;
        padding: 10px 20px 10px;
      }
    }
  }
}

footer {
  padding-top: 80px;
  padding-bottom: 70px;
  background: $color-primary;
  font-family: "Inter", sans-serif;

  @media (max-width: 800px) {
    padding-bottom: 77px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;

    @media (max-width: 800px) {
      row-gap: 30px;
    }

    .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      gap: 154px;

      @media (max-width: 1250px) {
        gap: 49px;
      }

      .nav-col1,
      .nav-col2,
      .nav-col3,
      .nav-col4 {
        display: flex;
        flex-direction: column;

        @media (max-width: 960px) {
          width: 47%;
        }

        @media (max-width: 960px) {
          width: 35%;
        }

        @media (max-width: 800px) {
          width: 100%;
          row-gap: 24px;
        }

        p {
          @include font-style($color-text-white, 16px, 700, 24px);
        }

        a {
          @include font-style($color-text-disable, 16px, 400, 32px);
        }
      }
    }

    .list-soc-contact {
      display: flex;
      justify-content: space-between;

      @media (max-width: 960px) {
        flex-direction: column-reverse;
        justify-content: flex-start;
      }

      @media (max-width: 1250px) {
        row-gap: 62px;
      }

      .nav-logo {
        display: flex;
        gap: 16px;
      }

      .list-soc-contact-txt {
        p {
          @include font-style($color-text-white, 16px, 400, 32px);
        }
      }
    }
  }
}
